.error {
  border-color: red;
}
.error-message {
  color: red;
  font-size: 12px;
  text-align: right;
}
.div-flex {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 5px;
  .div-column {
    display: flex;
    flex-direction: column;
    input {
      width: 300px;
    }
  }
  button {
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 15px;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
.right {
  text-align: right;
}
